<aside class="sidebar">
  <div class="logo">
    <h2>NewsPortal</h2>
    <span>CMS</span>
  </div>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active"> Dashboard </a>

    <a routerLink="/categories" routerLinkActive="active"> Categories </a>

    <a routerLink="/subcategories" routerLinkActive="active"> Sub Categories </a>

    <a routerLink="/news" routerLinkActive="active"> News </a>

    <a routerLink="/tags" routerLinkActive="active"> Tags </a>

    <a routerLink="/media" routerLinkActive="active"> Media Library </a>

    <a routerLink="/static-pages" routerLinkActive="active"> Static Pages </a>

    <a routerLink="/advertisements" routerLinkActive="active"> Advertisements </a>
    <a routerLink="/menus" routerLinkActive="active"> Menus </a>
    <a routerLink="/menu-items" routerLinkActive="active"> Menu Items </a>
    <a routerLink="/users" routerLinkActive="active"> Users </a>
  </nav>
</aside>
