<nav class="public-navbar">

  <div class="navbar-container">

    <button
      type="button"
      class="mobile-menu-btn"
      (click)="toggleMobileMenu()"
      [attr.aria-expanded]="isMobileMenuOpen"
      aria-label="Toggle navigation"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>


    <div
      class="nav-menu"
      [class.mobile-open]="isMobileMenuOpen"
    >

      <!-- HOME ALWAYS EXISTS -->

      <a
        routerLink="/public"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMobileMenu()"
      >
        Home
      </a>


      <!-- API CATEGORIES -->

      <ng-container *ngFor="let category of visibleCategories">

        <a
          [routerLink]="['/public/category', category.slug]"
          routerLinkActive="active"
          (click)="closeMobileMenu()"
        >
          {{ category.name }}
        </a>

      </ng-container>


      <!-- MORE -->

      <div
        class="more-wrapper"
        *ngIf="moreCategories.length > 0"
      >

        <button
          type="button"
          class="more-btn"
          (click)="toggleMore()"
        >
          More
          <span>▾</span>
        </button>


        <div
          class="more-dropdown"
          *ngIf="isMoreOpen"
        >

          <a
            *ngFor="let category of moreCategories"
            [routerLink]="['/public/category', category.slug]"
            (click)="closeMobileMenu()"
          >
            {{ category.name }}
          </a>

        </div>

      </div>

    </div>

  </div>

</nav>