.navbar {
  height: 70px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h3 {
  margin: 0;
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user button {
  padding: 8px 16px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
