<div class="page-header">
  <div>
    <h1>Static Pages</h1>

    <p>Manage website pages</p>
  </div>

  <a routerLink="/static-pages/add" class="add-btn"> + Add Page </a>
</div>

<div class="table-card">
  <div class="message" *ngIf="isLoading">Loading Pages...</div>

  <div class="error-message" *ngIf="!isLoading && errorMessage">
    {{ errorMessage }}
  </div>

  <div class="message" *ngIf="!isLoading && !errorMessage && pages.length == 0">
    No Static Pages Found.
  </div>

  <div class="table-wrapper" *ngIf="!isLoading && !errorMessage && pages.length > 0">
    <table>
      <thead>
        <tr>
          <th>ID</th>

          <th>Title</th>

          <th>Slug</th>

          <th>Meta Title</th>

          <th>Status</th>

          <th>Created</th>

          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let page of pages">
          <td>
            {{ page.id }}
          </td>

          <td>
            <strong>
              {{ page.title }}
            </strong>
          </td>

          <td>
            {{ page.slug }}
          </td>

          <td>
            {{ page.metaTitle }}
          </td>

          <td>
            <span [class.active]="page.status" [class.inactive]="!page.status">
              {{ page.status ? 'Active' : 'Inactive' }}
            </span>
          </td>

          <td>
            {{ page.createdDate | date: 'dd MMM yyyy' }}
          </td>

          <td>
            <div class="actions">
              <a class="edit-btn" [routerLink]="['/static-pages/edit', page.id]"> Edit </a>

              <button class="delete-btn" (click)="deletePage(page.id)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
