<div class="page-header">
  <div>
    <h1>Advertisements</h1>
    <p>Manage website advertisements</p>
  </div>

  <a routerLink="/advertisements/add" class="add-btn"> + Add Advertisement </a>
</div>

<div class="table-card">
  <!-- Loading -->
  <div class="message" *ngIf="isLoading">Loading advertisements...</div>

  <!-- Error -->
  <div class="error-message" *ngIf="!isLoading && errorMessage">
    {{ errorMessage }}
  </div>

  <!-- Empty -->
  <div class="message" *ngIf="!isLoading && !errorMessage && advertisements.length === 0">
    No advertisements found.
  </div>

  <!-- Table -->
  <div class="table-wrapper" *ngIf="!isLoading && !errorMessage && advertisements.length > 0">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Banner</th>
          <th>Position</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Order</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let advertisement of advertisements">
          <!-- Title -->
          <td>
            <strong>
              {{ advertisement.title }}
            </strong>
          </td>

          <!-- Banner -->
          <td>
            <div class="banner-preview" *ngIf="advertisement.bannerUrl">
              <img
                [src]="'https://localhost:7103' + advertisement.bannerUrl"
                [alt]="advertisement.title"
              />
            </div>

            <span class="no-banner" *ngIf="!advertisement.bannerUrl"> No Banner </span>
          </td>

          <!-- Position -->
          <td>
            {{ advertisement.positionName }}
          </td>

          <!-- Start Date -->
          <td>
            {{ advertisement.startDate | date: 'dd MMM yyyy' }}
          </td>

          <!-- End Date -->
          <td>
            {{ advertisement.endDate | date: 'dd MMM yyyy' }}
          </td>

          <!-- Status -->
          <td>
            <span
              class="status"
              [class.active]="advertisement.isActive"
              [class.inactive]="!advertisement.isActive"
            >
              {{ advertisement.isActive ? 'Active' : 'Inactive' }}
            </span>
          </td>

          <!-- Display Order -->
          <td>
            {{ advertisement.displayOrder }}
          </td>

          <!-- Actions -->
          <td>
            <div class="actions">
              <a class="edit-btn" [routerLink]="['/advertisements/edit', advertisement.id]">
                Edit
              </a>

              <button
                type="button"
                class="delete-btn"
                (click)="deleteAdvertisement(advertisement.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
